{% extends "layout.html" %}
{% block body %}

<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
    {% for post in posts.items %}
        <div class="post-preview">
            <a href="/post/{{post.slug}}">
              <h3>
                {{post.title}}
              </h3>
            </a>
            <div class="sidebar-box">
              <p>
                {{post.description}}
              </p>
                <p class="read-more"></p>
            </div>
            <a href="/post/{{post.slug}}" class="button read-more-a float-right">Read More...</a>
            <p class="post-meta">Posted on {{post.date}}
          </div>
          <hr>
    {% endfor %}
          <div class="clearfix">
              {% if posts.has_next %}
              <a class="btn btn-primary float-right" href="{{ url_for('index', page=posts.next_num) }}">Older Posts &rarr;</a>
              {% endif %}
              {% if posts.has_prev %}
              <a class="btn btn-primary float-left" href="{{ url_for('index', page=posts.prev_num) }}">&larr; New Posts</a>
              {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}