{% extends 'dashboard/layout.html' %}
{% block body %}
<!-- Post Content -->
  <article>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <form method="POST" action="/dashboard/edit/{{post.s_no}}">
                  <div class="form-group">
                      <label><b>Post Title</b></label>
                    <input type="text" id="postTitle" name="title" class="form-control" value="{{post.title}}">
                  </div>
                    <div class="form-group">
                        <label><b>Post Slug</b></label>
                    <input readonly type="text" id="postSlug" name="slug" class="form-control" value="{{post.slug}}">
                  </div>
                    <div class="form-group">
                        <label><b>Post Image</b></label>
                    <input type="text" name="image" class="form-control" value="{{post.image}}">
                  </div>
                  <div class="form-group">
                      <label><b>Post Description</b></label>
                    <textarea name="description" class="form-control" id="textEditor">{{post.description}}</textarea>
                  </div>
                  <button type="submit" class="btn btn-info">Save</button>
                </form>
            </div>
        </div>
    </div>
  </article>
{% endblock %}
